@font-face {
  font-family: 'NotoSansCJKjp-Bold';
  src: url('../fonts/NotoSansCJKjp-Bold.eot');
  src: url('../fonts/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NotoSansCJKjp-Bold.woff2') format('woff2'), 
       url('../fonts/NotoSansCJKjp-Bold.woff') format('woff'), 
       url('../fonts/NotoSansCJKjp-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansCJKjp-Regular';
  src: url('../fonts/NotoSansCJKjp-Regular.eot'); 
  src: url('../fonts/NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NotoSansCJKjp-Regular.woff2') format('woff2'),
       url('../fonts/NotoSansCJKjp-Regular.woff') format('woff'),
       url('../fonts/NotoSansCJKjp-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansCJKjp-Medium';
  src: url('../fonts/NotoSansCJKjp-Medium.eot');
  src: url('../fonts/NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NotoSansCJKjp-Medium.woff2') format('woff2'),
       url('../fonts/NotoSansCJKjp-Medium.woff') format('woff'),
       url('../fonts/NotoSansCJKjp-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJP-Black';
  src: url('../fonts/NotoSansJP-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJP-Bold';
  src: url('../fonts/NotoSansJP-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJP-Medium';
  src: url('../fonts/NotoSansJP-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJP-Regular';
  src: url('../fonts/NotoSansJP-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'TTEditFont';
  src: url('../fonts/Pi_Do-butsu.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: 'NotoSansCJKjp-Bold', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #EEEEEE;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #CCCCCC;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.normal-space-margin {
  @include normal {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.small-space-margin {
  @include small {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.normal-space-padding {
  @include normal {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.header {
  margin-top: 10px;
  &__link {
    text-align: right;
  }

  &__text {
    border: none;
    background-color: $yellow;
    padding: 10px;
      @include small {
        margin-right: 10px;
        font-size: 12px;
        padding: 5px;
      }
  }

  &__branch {
    text-align: center;
    img {
      @include small {
        width: 80%;
      }
    }
  }
}

.hero { 
  width: 100%;
  margin-top: 40px;
  &__img {
    display: block;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
  }
  @include small {
    margin-top: 0;
  }
}

.point {
  margin-top: 60px;
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__head:first-child {
    font-size: $font_size_title;
    padding-bottom: 30px;
    span {
      color: $red;
      font-size: 40px;

      @include small {
        display: inline-flex;
      }
    }
  }

  &__sub:last-child {
    font-size: 24px;
    font-family: 'NotoSansJP-Regular', sans-serif;
    line-height: 42px;
    span {
      font-family: 'NotoSansJP-Regular', sans-serif;
      background-color: $yellow;
      padding: 5px;
    }
  }

  &__wraper {
    background-color: $bg_gray;
    padding: 50px 0 30px 0;

    @include normal {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include small {
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  &-item {
    width: 320px;
    height: 363px;
    background-color: #ffffff;
    position: relative;
    border-radius: 12px;
    text-align: center;
    padding: 30px 20px 20px 20px;

    &__icon {
      position: absolute;
      top: -26px;
      left: 0;
    }

    &__title {
      display: inline-flex;
      background-color: $yellow;
      margin-bottom: 10px;
      padding: 0 17px;
      font-size: 20px;

      &--high {
        margin-bottom: 23px;
      }
      &--custom {
        padding: 0 4px;
      }
    }

    &__description {
      font-size: 14px;
      font-family: 'NotoSansJP-Regular', sans-serif;
      text-align: left;

      &--indent {
        padding-left: 40px;
        padding-top: 30px;
      }

      &--down {
        padding-top: 10px;
      }
    }

    @include small {
      margin-bottom: 50px;
    }
  }

  &-item:last-child {
    @include small {
      margin-bottom: 10px;
    }
  }

  &__note {
    margin-top: 15px;
    p {
      font-size: 13px;
      font-family: 'NotoSansJP-Regular', sans-serif;
    }

    @include small {
      padding-left: 10px;
    }
  }
}

.process {
  margin-bottom: 70px;
  &__title {
    font-size: 32px;
    text-align: center;
    color: $black_three;
    margin: 50px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap:5px;

    @include small {
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  &-item {
    &-wrapper {
      width: 250px;
      height: 180px;
      background-color: $yellow;
      text-align: center;
      position: relative;
      border-radius: 6px;

      &__icon {
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translate(-50%, -15%);
      }

      &__title {
        padding-top: 80px;
        font-family: 'NotoSansJP-Bold', sans-serif;
        font-size: 24px;
        color: $white;
      }

      &__arrow {
        position: absolute;
        left: 225px;
        top: 53px;
        z-index: 1;

        &--hide {
          display: none;
        }

        @include small {
          display: none;
        }
      }
    }

    &__text {
      font-family: 'NotoSansJP-Regular', sans-serif;
      font-size: 14px;
      padding: 10px 0 0 10px;
    }

    @include small {
      margin-bottom: 20px;
    }

    &-item:last-child {
      @include small {
        margin-bottom: 0;
      }
    }
  }

  &__contact {
    text-align: center;
    margin: 40px 0 60px 0;
    button {
      background-color: $bg_yellow;
      border: none;
      padding: 20px 130px;
      border-radius: 50px;
      position: relative;
      font-size: 24px;
      img {
        position: absolute;
        right: 22px;
        top: 27px;
      }
    }
  }

  &__break {
    height: 1px;
    background-image: url(../images/img_process_break.svg);
  }
}

.issue {
  margin: 30px 0;
  @include small {
    margin: 10px 0;
  }

  &__title {
    font-family: "Noto Sans JP-Bold", Helvetica;
    font-size: 32px;
    line-height: normal;
    color: #000000;
    margin-bottom: 32px;
    text-align: center;

    span {
      color: #f46868;
      font-size: 38px;
      @include small {
        font-size: 24px;
      }
    }
    @include small {
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    @include small {
      gap: 20px;
    }
  }
  &-item {
    background-color: #f1c40f;
    width: 100%;
    max-width: 180px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__image {
      position: absolute;
      top: 99%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include small {
      margin-bottom: 30px;
    }
  }
}
.triangle-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 20px solid #ffffff;
}

.solution {
  margin-top: 80px;

  &__wrapper {
    background-color: #F1C40F;
    border-radius: 12px;
    padding-bottom: 30px;
  }
  
  &__icon {
    text-align: center;
  }

  &__title {
    p {
      font-family: "Noto Sans JP-Bold", Helvetica;
      font-size: 0;
      text-align: center;
      padding: 30px 0 40px 0;
      color: #ffffff;
    }
  }

  &-title {
    &__medium {
      font-size: 38px;
    }

    &__large  {
      font-size: 40px;
    }

    &__small  {
      font-size: 32px;
      &--highlight {
        color: #000000;
        background-color: #ffffff;
        padding: 10px 0 10px 10px;
        @include small {
          display: inline-block;
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

    @include small {
      flex-wrap: wrap;
    }
  }

  &-item {
    background-color: #ffffff;
    width: 288px;
    height: 286px;
    text-align: center;
    border-radius: 12px;
    padding-top: 90px;
    position: relative;
    @include small {
      margin-bottom: 10px;
    }

    &__title {
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translate(-50%, 12px);
      font-family: "Noto Sans JP-Bold", Helvetica;
      font-weight: 700;
      font-size: 20px;
      line-height: normal;
      width: 100%;
    }
  }
}

.solution {
  @include small {
    margin-top: 40px;
  }
  
  &__icon {
    text-align: center;
  }

  &__wrapper {
    background-color: #F1C40F;
    border-radius: 20px;
    padding: 0 10px 25px 10px;

    @media screen and (max-width: 768px) {
      margin: 0 10px;
    }

    @include small {
      padding-bottom: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__title {
    font-family: "Noto Sans JP-Bold", Helvetica;
    font-size: 0;
    text-align: center;
    padding: 30px 0 40px 0;
    color: #ffffff;
    @include small {
      padding-top: 10px;
    }
  }
  &-title {
    font-size: 38px;
    @include small {
      font-size: 30px;
    }

    &--large  {
      font-size: 40px;
      @include small {
        font-size: 34px;
      }
    }

    &--small  {
      font-size: 32px;
      @include small {
        font-size: 22px;
      }
    }
    
    &--highlight {
      color: #000000;
      background-color: #ffffff;
      padding: 10px 0 10px 10px;
      @include small {
        display: inline-block;
      }
    }
  }
  &-item:last-child {
    @media screen and (max-width: 768px) {
      margin-top: 50px;
      margin-bottom: 20px;
    }
    @include small {
      margin-top: 0;
      margin-bottom: 50px;
    }
  }
  &-item {
    background-color: #ffffff;
    width: 100%;
    max-width: 288px;
    aspect-ratio: 1 / 1;
    position: relative;
    padding-top: 90px;
    text-align: center;
    border-radius: 12px;

    &__thumbnail {
      width: 90%;
    }

    &__title {
      position: absolute;
      top: 8%;
      left: 50%;
      transform: translate(-50%, 5%);
      font-family: "Noto Sans JP-Bold", Helvetica;
      font-weight: 700;
      font-size: 20px;
      line-height: normal;
      width: 100%;
      @include small {
        font-size: 18px;
      }
    }
    @include small {
      margin-bottom: 40px;
    }
  }

}

.faq {
  margin-bottom: 90px;
  &__title {
      font-family: "Noto Sans CJK JP-Bold", Helvetica;
      font-weight: 700;
      font-size: 32px;
      text-align: center;
      margin-bottom: 60px;
  }

  &__item {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #CCCCCC;
  }

  &__item:last-child {
    border-bottom: none;
  }

  &-content {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &__wraper {
          display: inline-flex;
          align-items: center;
          gap: 16px;
      }

      &__icon:first-child {
        padding: 5px 15px;
        background-color: #000000;
        font-family: "Inter-Medium", Helvetica;
        color: #ffffff;
        font-size: 24px;
      }

      &__text:last-child {
          font-family: "Noto Sans CJK JP-Medium", Helvetica;
          font-weight: 500;
          font-size: 18px;
      }

      &__question {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0px 20px;
          width: 100%;
      }

      &__answer {
          width: 100%;

          div {
              padding: 0px 70px 0 85px;
              font-family: "Noto Sans CJK JP-Regular", Helvetica;
              line-height: 28px;
          }
      }

      &__collapse {
          width: 17px;
          height: 1px;
      }
  }
}

.footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94px;
  background-color: #3a3a3a;
  font-family: "Noto Sans CJK JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
}
