$normal_container: 720px;
$medium_container: 960px;
$large_container: 1140px;
$extra_container: 1320px;
$mobile_header_height: 45px;
$normal_header_height: 83px;
$header_height: 83px;

$primary_red: #E92831;
$primary_blue: #00B9F2;
$cyan_blue: #02B9F4; 
$pastel_cyan: #B3EAFC;
$light-blue: #E0F8FF;
$white: #FFFFFF;
$black: #000000;
$dark_gray: #292929;
$yellow: #F1C40F;
$graphite: #0A0A0A;
$red: #F46868;